@{
    ViewData["Title"] = "Корзина";
}

@model IEnumerable<WebApplication11.Models.Helpers.CartItemDto>

<div class="container mt-4">
    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info" role="alert">Ваша корзина пуста.</div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-3">
                    <div class="card" style="width: 18rem; height: 28rem; overflow: hidden;">
                        <img src="@item.PathToImage" class="card-img-top" alt="@item.ProductName" style="height: 200px; object-fit: cover;">
                        <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                            <h5 class="card-title" style="height: 3rem; overflow: hidden; text-overflow: ellipsis;">@item.ProductName</h5>
                            <p class="card-text" style="height: 4rem; overflow: hidden; text-overflow: ellipsis;">@item.Description</p>
                            <p class="card-text"><strong>Цена:</strong> @item.Price ₽</p>

                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <form asp-controller="Home" asp-action="RemoveCartItem" method="post" style="margin-top: auto;">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                    <button type="submit" class="btn btn-danger">Из корзины</button>
                                </form>

                                <form asp-controller="Home" asp-action="UpdateCartQuantity" method="post" style="display: flex; align-items: center;">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                    <button type="submit" name="quantity" value="@((item.Quantity > 1) ? item.Quantity - 1 : 1)" class="btn btn-sm btn-outline-secondary">-</button>
                                    <span class="mx-3">@item.Quantity</span>
                                    <button type="submit" name="quantity" value="@((item.Quantity < item.Stock) ? item.Quantity + 1 : item.Stock)" class="btn btn-sm btn-outline-secondary">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="d-flex justify-content-end mt-4">
            <div class="col-md-4">
                <h4>Итоговая сумма: <span id="totalPrice">@Model.Sum(item => item.Total) ₽</span></h4>
                <a class="btn btn-success w-100 mt-3" asp-controller="Home" asp-action="Order">Заказать</a>
            </div>
        </div>
    }
</div>